/* Classes */
.tabelasConsulta {
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
    text-align: center;
    line-height: 2em;
    font-size: 1.1em;
    margin-top: 2em;
    margin-bottom: 2em;
}

.secaoConsulta {
    width: 100%;
}

/* Ids */
#tabelaCarros,
#tabelaCarroId {
    width: 75% !important;
}

#tabelaEstacionamento,
#tabelaEstacionamentoId {
    width: 30% !important;
}

#logo {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
}

#header {
    text-align: center;
    font-size: 1.2em;
}

#description {
    background-color: lightcyan;
    margin-left: auto;
    margin-right: auto;
    padding: 1%;
}

#tabelaLinks {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 2em;
    line-height: 1.5em;
}

#links:link,
#links:visited,
#links:active {
    text-decoration: none;
    color: darkslateblue;
}

#links:hover {
    color: #000;
}

/* Tags globais */
body {
    padding: 50px;
    background-color: azure;
}

label,
input {
    font-size: 20px;
    width: 100%;
    padding: 8px;
    margin: 5px 0 22px 0;
    border: none;
}

input:focus {
    background-color: aliceblue;
}

select {
    font-size: 20px;
    margin: 5px 0 22px 0;
    padding: 4px;
    width: 25%;
}

hr {
    margin-bottom: 12px;
}

button {
    width: 20%;
    font-size: 18px;
    padding: 4px;
    margin-bottom: 12px;
}

table,
td,
th {
    border: 1px solid black;
}

th {
    background-color: lightcyan;
}

footer {
    text-align: right;
}
